@font-face {
    font-family:'Hacker';
    src: url(../PressStart2P-Regular.ttf);
}
body{
    font-family:'Hacker';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:#46211A;
    color: white;
    flex-direction: column;
}
#clock{
    font-size: 2em;
    text-align: center;
    letter-spacing: 2px;
    margin: 20px;
    padding: 40px;
    width: 185px;
    text-shadow: 0 0 6px white;
}