body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:#46211A;
    color: white;
    flex-direction: column;
}
#clock{
    font-size: 2em;
    text-align: center;
    letter-spacing: 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color:#ba5536;
    
}